<p id="notice"><%= notice %></p>

<p>
  <strong>Geneticbank:</strong>
  <%= @genetic_bank_picture.genetic_bank_id %>
</p>

<%= link_to 'Edit', edit_genetic_bank_picture_path(@genetic_bank_picture) %> |
<%= link_to 'Back', genetic_bank_pictures_path %>
